<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.label :content %><br>
    <%= f.text_area :content, autofocus: true, spellcheck: false %>
  </div>
  <div class="field">
    <% if @current_user.present? %>
      <%= f.hidden_field :user_id, value: current_user.id  %>
    <% else %>
      FUCK PUT THE USER SHIT IN HERE
    <% end %>  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
