<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %> number : <%= @user.id %>
</p>

<b><%= @current_user %> ---</b>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

<% if logged_in? == false %>
  <b><%= link_to 'Log In!', login_path %></b>
<% end -%>

<%= link_to 'Edit', edit_user_path(@user) %>
